<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Product - Music Website', 'none')" />
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/list.css}"/>
</head>
<body>
    <div id="page-container" class="d-flex flex-column flex-root">
        <div class="d-flex flex-row flex-column-fluid page">
            <div th:replace="fragments/sidebar_fragment :: sidebar('product', 'product_all')"></div>
            <div class="d-flex flex-column wrapper">
                <div th:replace="fragments/header_fragment :: header"></div>
                <div class="content">
                    <div class="d-flex justify-content-between align-items-center mt-3 mb-5">
                        <h1 class="title">Sản Phẩm</h1>
                        <a href="/admin/product/add">
                            <button class="btn btn-primary d-flex align-items-center">
                                <i class="fas fa-plus" style="margin-right: 0.5rem"></i>
                                <span>Sản phẩm mới</span>
                            </button>
                        </a>

                    </div>
                    <section class="list-table">
                        <div class="list-table-header d-flex align-items-center justify-content-between">
                            <div th:replace="fragments :: search_form('product')"></div>
                        </div>
                        <div class="list-table-content">
                            <div class="table-responsive">
                                <table class="table table-borderless table-striped table-vcenter">
                                    <thead>
                                        <tr>
                                            <th th:replace="fragments :: column_link('id', 'ID','product')"></th>
                                            <th th:replace="fragments :: column_link('name', 'Product','product')"></th>
                                            <th th:replace="fragments :: column_link('registrationDate', 'Added','product')"></th>
                                            <th class="d-none d-sm-table-cell text-center">Quantity</th>
                                            <th class="d-none d-sm-table-cell text-center">Sold Quantity</th>
                                            <th class="d-none d-sm-table-cell text-end">Price</th>
                                            <th>Status</th>
                                            <th class="text-center" style="width: 100px">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="product : ${listProducts}">
                                            <td class="text-center fs-sm">
                                                <a>
                                                    <strong>[[${product.id}]]</strong>
                                                </a>
                                            </td>
                                            <td class="d-none d-md-table-cell fs-sm">
                                                <strong>[[${product.name}]]</strong>
                                            </td>
                                            <td class="d-none d-sm-table-cell text-center fs-sm format-date">
                                                <div  th:replace="fragments :: format_time(${product.registrationDate})"></div>
                                            </td>
                                            <td class="d-none d-md-table-cell fs-sm">
                                                <div  th:replace="fragments :: format_currency(${product.inStock})"></div>
                                            </td>
                                            <td class="d-none d-md-table-cell fs-sm">
                                               [[${product.soldQuantity}]]
                                            </td>
                                            <td class="text-end d-none d-sm-table-cell fs-sm">
                                                <div th:replace="fragments :: format_currency(${product.price})"><strong>₫</strong></div>
                                            </td>
                                            <td>
                                                <span th:if="${product.isActive == true && product.inStock != 0}" class="badge bg-success">Available</span>
                                                <span th:if="${product.isActive == false}"  class="badge bg-danger">Banned</span>
                                                <span th:if="${product.inStock == 0 && product.isActive == true}" class="badge bg-warning">Out of Stock</span>
                                            </td>
                                            <td class="text-center fs-sm" style="width: 100px">
                                                <a class="btn btn-sm btn-alt-secondary" th:href="@{'/admin/product/edit/' + ${product.id}}"  data-toggle="tooltip" data-placement="top" title="Edit">
                                                    <i class="fas fa-pencil-alt"></i>                                                </a>
                                                <a class="btn btn-sm btn-alt-danger" th:id="'link-delete-' + ${product.id}" th:onclick="'showConfirmDelete(event,' + ${product.id} + ')'" entity="product" th:href="@{'/admin/product/delete/' + ${product.id}}"  data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="fa fa-fw fa-times text-danger"></i>
                                                </a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                                <div class="empty d-flex flex-column align-items-center" th:if="${#lists.isEmpty(listProducts)}">
                                    <div class="empty-image d-flex justify-content-center align-items-center" style="margin-bottom: 10px">
                                        <img th:src="@{/images/empty-icon.svg}" style="height: 200px"/>
                                    </div>
                                    <a href="/admin/product/add">
                                        <button class="btn btn-primary d-flex align-items-center">
                                            <span>Create Now</span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div th:replace="fragments :: pagination('product')"></div>
                </div>
            </div>
        </div>
    </div>



<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/index.js}" ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.4/dist/sweetalert2.all.min.js"></script>


<script th:inline="javascript">
    $(document).ready(function() {
        let messageError = [[${messageError}]];
        let messageSuccess = [[${messageSuccess}]];

        if(messageSuccess) {
            Swal.fire({
                title: '',
                text: messageSuccess,
                icon: 'success',
                confirmButtonColor: '#3085d6'
            })
        }

        if(messageError ) {
            Swal.fire({
                title: '',
                text: messageError,
                icon: 'error'
            })
        }




    })
</script>
</body>


</html>