<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Home - Shopwise Website', 'none')" />
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}"/>
    <link rel="stylesheet prefetch" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
</head>
<body>
<div th:replace="fragments/navbar_fragment :: navbar"></div>
<div class="main-content">
    <div class="profile-main">
        <div class="profile-header d-flex align-items-center">
            <div class="profile-author d-flex align-items-center">
                <div class="profile-author-img"><img th:src="@{/images/car.png}"/></div>
                <div class="profile-author-content d-flex flex-column flex-wrap">
                    <div class="profile-author-name" style="text-transform: capitalize" th:text="${user.firstName + ' ' + user.lastName}"></div>
                    <th:block th:if="${user.phone}">
                        <div class="profile-author-phone" th:text="${user.phone}"></div>
                    </th:block>
                    <th:block th:unless="${user.phone}">
                        <div class="profile-author-phone">Chưa cập nhật</div>
                    </th:block>
                </div>
            </div>
            <div class="profile-title">Danh sách đơn hàng</div>
        </div>
        <div class="profile-content d-flex">
            <div class="profile-tab d-flex flex-column">
                <a class="profile-tabs-button d-flex align-items-center" href="/profile/info">
                    <div class="profile-icon-wrapper d-flex align-items-center justify-content-center">
                        <i class="far fa-user"></i>
                    </div>
                    <span>Thông tin tài khoản</span>
                </a>
                <a class="profile-tabs-button d-flex align-items-center" href="/profile/change-password">
                    <div class="profile-icon-wrapper d-flex align-items-center justify-content-center">
                        <i class="fas fa-lock"></i>
                    </div>
                    <span>Đổi mật khẩu</span>
                </a>
                <a class="profile-tabs-button tab-active d-flex align-items-center" href="/profile/order/info">
                    <div class="profile-icon-wrapper d-flex align-items-center justify-content-center">
                        <i class="far fa-clipboard"></i>
                    </div>
                    <span>Danh sách đơn hàng</span>
                </a>
                <a class="profile-tabs-button d-flex align-items-center" href="/profile/address">
                    <div class="profile-icon-wrapper d-flex align-items-center justify-content-center">
                        <i class="fas fa-map-marked-alt"></i>
                    </div>
                    <span>Địa chỉ của tôi</span>
                </a>
            </div>
            <div class="profile-content-body">
                <div id="profile-order-info" class="profile-tab-item">
                    <div class="profile-order-main">
                        <form>
                            <div class="profile-order-filter d-flex align-items-center">
                                <div class="profile-order-filter-item d-flex flex-column">
                                    <label class="form-label" for="id">Mã đơn hàng</label>
                                    <input type="text" class="form-control profile-order-input" id="id"/>
                                </div>
                                <div class="profile-order-filter-item d-flex flex-column">
                                    <label class="form-label" for="start-date">Từ ngày</label>
                                    <div id="start-date" class="profile-order-input-date input-group date" data-date-format="dd-mm-yyyy">
                                        <input class="form-control profile-order-input" readonly="" type="text">
                                        <span class="icon-input-date input-group-addon"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                </div>
                                <div class="profile-order-filter-item d-flex flex-column">
                                    <label class="form-label" for="end-date">Đến ngày</label>
                                    <div id="end-date" class="profile-order-input-date input-group date" data-date-format="dd-mm-yyyy">
                                        <input class="form-control profile-order-input" readonly="" type="text">
                                        <span class="icon-input-date input-group-addon"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                </div>
                                <div class="profile-order-filter-item d-flex flex-column">
                                    <label class="form-label" for="status">Trạng thái</label>
                                    <select class="custom-select profile-order-input" required id="status" name="status">
                                        <option value="">Tất cả</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>

                            </div>
                            <table class="table order-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Mã đơn hàng</th>
                                        <th scope="col">Ngày tạo đơn</th>
                                        <th scope="col">Tổng tiền</th>
                                        <th scope="col">Trạng thái</th>
                                    </tr>
                                </thead>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer_fragment :: footer"></div>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        let messageError = [[${messageError}]];
        let messageSuccess = [[${messageSuccess}]];

        if(messageSuccess) {
            swal(
                '',
                messageSuccess,
                'success'
            )
        }
        if(messageError ) {
            swal(
                '',
                messageError,
                'error'
            )
        }
    })
</script>
<script type="text/javascript">
    $(function () {
        $(".profile-order-input-date").datepicker({
            autoclose: true,
            todayHighlight: true,
            endDate: '+0d'
        });
    });
</script>
</body>

</html>