<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Poster - Music Website', 'none')" />
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/add_form.css}"/>
</head>
<body>
<div id="page-container" class="d-flex flex-column flex-root">
    <div class="d-flex flex-row flex-column-fluid page">
        <div th:replace="${poster.id != null} ? ~{fragments/sidebar_fragment :: sidebar('poster','poster_all')} : ~{fragments/sidebar_fragment :: sidebar('poster','poster_new')}"></div>

        <div class="d-flex flex-column wrapper">
            <div th:replace="fragments/header_fragment :: header"></div>
            <div class="content">

                <section class="form-container">
                    <div class="form-container-header d-flex align-items-center justify-content-between">
                        <h1 class="title" th:text="${poster.id != null} ? 'Sửa Thông Tin Áp Phích': 'Thêm Áp Phích Mới'"></h1>
                    </div>
                    <div class="form-container-content">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-8">
                                <form th:action="@{'/admin/poster/right/edit/' + ${poster.id}}" th:object="${poster}"  method="post" id="form-poster" enctype="multipart/form-data">

                                    <input type="hidden" th:field="*{id}" />
                                    <input type="hidden" th:field="*{type}"/>
                                    <h4>Hình ảnh:</h4>
                                    <div class="d-flex justify-content-center mb-4" style="padding:0 15px">
                                        <div class="upload-zone d-flex justify-content-center align-items-center" style="width: 500px; height: 500px">
                                            <input type="file" name="file" accept="image/png, image/jpg, image/jpeg" onchange="loadFile(event)" class="upload-zone-input" id="input-image" multiple="false" th:required="${poster.id != null} ? 'false' : 'true'"/>
                                            <input type="text" id="image" th:field="*{image}" readonly style="display: none; opacity: 0"/>
                                            <img id="image-output"/>
                                            <div class="upload-zone-content">
                                                <div class="upload-zone-title">Select file</div>
                                                <div class="upload-zone-desc">Click browse thorough your machine</div>
                                            </div>
                                        </div>
                                        <span th:if="${#fields.hasErrors('image')}" th:errors="*{image}"  class="form-valid-feedback"></span>
                                    </div>
                                    <div class="mb-4 d-flex align-items-center justify-content-end">
                                        <button type="submit" class="btn btn-danger auth-btn">Luu lai</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script><script type="text/javascript" th:src="@{/js/index.js}" ></script>

<script>
    $(document).ready(function() {
        if($("#image").val() != '' && $("#image").val() != null) {
            let image_output = document.getElementById('image-output');
            $('#image-output').css('display', 'block')
            image_output.src = $("#image").val();
            $('.upload-zone-content').css('display', 'none');
        }
    })
</script>

</body>

</html>