<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer"  class="footer">
    <div class="footer-container d-flex justify-content-between align-items-start flex-wrap">
        <div class="footer-item d-flex flex-column">
            <div class="footer-item-title">Company</div>
            <ul class="footer-item-list">
                <li>About us</li>
                <li>Our services</li>
                <li>Privacy policy</li>
                <li>Affiliate program</li>
            </ul>
        </div>
        <div class="footer-item d-flex flex-column">
            <div class="footer-item-title">Company</div>
            <ul class="footer-item-list">
                <li>About us</li>
                <li>Our services</li>
                <li>Privacy policy</li>
                <li>Affiliate program</li>
            </ul>
        </div>
        <div class="footer-item d-flex flex-column">
            <div class="footer-item-title">Company</div>
            <ul class="footer-item-list">
                <li>About us</li>
                <li>Our services</li>
                <li>Privacy policy</li>
                <li>Affiliate program</li>
            </ul>
        </div>
        <div class="footer-item d-flex flex-column">
            <div class="footer-item-title">Follow us</div>
            <div class="footer-item-social d-flex align-items-center">
                <div class="footer-item-social-item d-flex align-items-center justify-content-center">
                    <i class="fab fa-facebook-f"></i>
                </div>
                <div class="footer-item-social-item d-flex align-items-center justify-content-center">
                    <i class="fab fa-twitter"></i>
                </div>
                <div class="footer-item-social-item d-flex align-items-center justify-content-center">
                    <i class="fab fa-instagram"></i>
                </div>
                <div class="footer-item-social-item d-flex align-items-center justify-content-center">
                    <i class="fab fa-linkedin-in"></i>
                </div>
            </div>
        </div>
    </div>
</footer>
</html>