.main-content {
    background: radial-gradient(farthest-side ellipse at 10% 0, #333867 20%, #17193b);
    width: 100%;
    padding-top: 65px;
}

body::-webkit-scrollbar { width: 8px; height: 3px;}
body::-webkit-scrollbar-button {  background-color: #666; }
body::-webkit-scrollbar-track {  background-color: #646464;}
body::-webkit-scrollbar-track-piece { background-color: #000;}
body::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
body::-webkit-scrollbar-corner { background-color: #646464;}
body::-webkit-resizer { background-color: #666;}


.gallery {
    padding: 95px 70px 30px 70px;
    gap: 30px;
}

.swiper {
    height: 500px;
    border-radius: 6px;
    width: 100%;
}

.gallery span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 45px;
}

.swiper-slide-active .gallery-item-title {
    animation: slideInLeft 1s linear
}
.swiper-slide-active .gallery-item-subtitle {
    animation: textIn 1s linear;
}

.swiper-slide-active .gallery-item-description {
    animation: slideInRight 1s linear;
}

.swiper-slide-active .gallery-item-divine {
    animation: divineDown 1s linear;
}



.gallery span.swiper-pagination-bullet {
    background-color: #daff0f;
    cursor: pointer;
    width: 13px;
    height: 13px;
    transition: 0.5s;
    border-radius: 15px;
}

.sub-gallery {
    gap: 30px;
}

.gallery-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 6px;
}

.gallery-item-content {
    position: absolute;
    max-width: 400px;
    left: 10%;
    top: 20%;
}

.gallery-item-title {
    width: fit-content;
    font-size: 18px;
    margin-bottom: 20px;
    color: #ffffff80;
}

.gallery-item-wrapper {
    gap: 15px;
    max-width: 215px;
    margin-bottom: 7px;
    overflow: hidden;
}

.gallery-item-divine {
    margin-top: 10px;
    width: 4px;
    height: 60px;
    background-color: red;
    overflow: hidden;
}

.gallery-item-subtitle {
    font-size: 30px;
    font-weight: 800;
    color: white;
}

.gallery-item-description {
    color: #ffffff80;
    font-size: 14px;
    margin-bottom: 35px;
}

.gallery-item-btn {
    background: #ff214f;
    padding: 3px 29px;
    outline: none;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    color: rgba(244, 244, 245, 0.9);
    border-radius: 6px;
    height: 32px;
}

.sub-gallery img {
    height: 235px;
    border-radius: 6px;
    cursor: pointer;
}

.section-policy {
    display: grid;
    width: 100%;
    padding: 30px 70px;
    grid-gap: 10px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.section-policy-item {
    cursor: pointer;
}

.section-policy-item:hover img {
    animation: elementor 1s ease;
}

.section-policy-item img {
    width: 30%;
    margin-bottom: 20px;
}

.section-policy-title {
    font-size: 14px;
    margin-bottom: 10px;
    color: white;
    font-weight: 500;
}

.section-policy-description {
    color: #ffffff80;
    font-size: 14px;
}

.list-product {
    padding: 30px 70px;
}

.list-product-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.list-product-title::before {
    position: absolute;
    bottom: -1px;
    width: 70px;
    height: 3px;
    background: #ed1d24;
    content: "";
    left: 0;
}

.list-product-title h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(244, 244, 245, 0.9);

}


.list-product-carousel {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 30px;
    gap: 30px;
}

.list-product-item {
    background: transparent;
    border-radius: 25px;
    box-shadow: 0 5px 10px #00000033;
    padding: 5px 10px;
}

.list-product-item:hover .card-container img {
    transform: scale(1.1) translateZ(0);
}

.list-product-item:hover .card-action {
    opacity: 1;
    visibility: visible;
}
.list-product-card .card-wrapper{
    padding: 20px 0px;
}

.list-product-card .card-action {
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.list-product-card .card-action-item {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e8f6ea;
    border: 1px solid #cce7d0;
    margin-right: 5px;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.list-product-card .card-action-item::before {
    content: '';
    position: absolute;
    left: calc(50% - 7px);
    bottom: 100%;
    border: 7px solid transparent;
    border-top-color: #088178;
    z-index: 9;
    margin-bottom: -3px;
    transition-delay: .1s;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.list-product-card .card-action-item::after {
    white-space: nowrap;
    font-size: 11px;
    bottom: 100%;
    position: absolute;
    border-radius: 5px;
    padding: 7px 10px;
    background-color: #088178;
    color: #ffffff;
    content: attr(aria-label);
    transition-delay: .1s;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 11px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.list-product-card .card-action-item:hover {
    transform: translateY(-5px);
    background-color: #088178;
    border: 1px solid transparent;
}

.list-product-card .card-action-item:hover::after,.list-product-card .card-action-item:hover::before  {
    opacity: 1;
    visibility: visible;
}
.list-product-card .card-action-item i {
    font-size: 20px;
    color: #088178;
}

.list-product-card .card-action-item:hover i {
    color: white;
}


.list-product-card .card-container {
    border-radius: 20px;

}
.list-product-card .card-container img {
    width: 100%;
    position: relative;
    object-fit: contain;
    transition: transform 1.2s cubic-bezier(0, 0, 0.2, 1);
    min-height: 177.33px;
}

.list-product-card .card-content {
    padding-bottom: 20px;
}

.list-product-card .card-name {
    font-size: 20px;
    font-weight: 700;
    color: white;
    transition: all 0.5s ease;
    text-align: center;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.list-product-card .card-name:hover {
    color: #ff214f;
}

.list-product-card .card-description {
    font-size: 12px;
    font-weight: 400;
    color: #9da0ad;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 6px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.list-product-card .card-price {
    color: white;
    font-size: 18px;
}

.swiper-brand {
    width: 100%;
    height: 100%;
}

.brand-slide {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border-width: 1px;
    padding: 0.5rem 0;
    background-color: white;
    outline: none;
    min-width: 120px;
}
.brand-slide:hover {
    background-color: rgb(236, 240, 244);
}

.category-slide {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    border-width: 1px;
    padding: 0.5rem 0.25rem 0.5rem 0.5rem;
    background-color: white;
    outline: none;
    min-width: 120px;
}

.category-text {
    color: black;
    font-size: 14px;
    font-weight: 700;
    flex: 1 1;
    margin-left: 8px;
}

.category-slide:hover {
    background-color: rgb(236, 240, 244);
}

.category-slide img {
    width: 52px;
    height: 52px;
}
.brand-slide img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}
.list-brand {
    width: 100%;
    padding: 30px 70px;
}

.list-brand-carousel {
    margin-top: 20px;
    width: 100%;
}

.swiper-button-next.btn-next-brand, .swiper-button-prev.btn-prev-brand {
    right: 0;
    top: 12px;
}

.swiper-button-prev.btn-prev-brand::after, .swiper-button-next.btn-next-brand::after {
    font-size: 18px;
    color: white;
}

.swiper-button-prev.btn-prev-brand {
    right: 45px;
    left: unset;
}

.swiper-wrapper-brand {
    margin-top: 30px;
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(calc(-100% + 10px))
    }

    100% {
        transform: translateX(0)
    }
}

.modal-quick-view .modal-quick-view-dialog {
    width: 800px;
    max-width: 800px;
}


@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(100%)
    }

    100% {
        transform: translateX(0)
    }
}

@keyframes textIn {
    0% {
        opacity: 0;
        transform: translateY(100%)
    }

    100% {
        transform: translateY(0%)
    }
}

@keyframes divineDown {
    0% {
        transform: translateY(-100%)
    }

    100% {
        transform: translateY(0%)
    }
}

@keyframes elementor {
    16.65% {
        transform:translateX(10px);

    }
    33.33% {
        transform:translateX(-8px);

    }
    49.95% {
        transform:translateX(6px);

    }
    66.6% {
        transform:translateX(-4px)}

    83.25%{
        transform:translateX(3px);

    }
    to {
        transform:translateX(0);
    }
}