.navbar {
    height: 65px;
    padding: 0 70px;
    position: fixed;
    z-index: 999;
    width: 100vw;
    box-shadow: 0 25px 20px -20px #0000001a, 0 0 15px #0000000f;
    background-color: #1e1e2d;

}

.navbar-left {
    margin-right: 20px;
}

.navbar-logo {
    margin-right: 20px;
}

.navbar-search {
    max-width: 700px;
    padding: 0;
    height: 40px;
    flex: 1;
}

.navbar-search-text {
    background-color: #12142b;
    color: rgba(244, 244, 245, 0.9);
    border: 0;
    outline: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.navbar-search-text i {
    font-size: 14px;
}

.navbar-search-input {
    height: calc(1.5em + 0.75rem + 4px);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #12142b;
    color: rgba(244, 244, 245, 0.9);
    padding: 0;
    border: 0;
    outline: none;
}

.navbar-search-input:focus {
    background-color: #12142b;
    color: rgba(244, 244, 245, 0.9);
    border: 0;
    box-shadow: none;

}

.navbar-auth {
    margin-right: 30px;
}

.navbar-auth span {
    color: rgba(244, 244, 245, 0.9);
}

.navbar-auth a:not(:last-child) {
    margin-right: 10px;
}

.navbar-divine {
    width: 1px;
    background: #c1c3cf;
    height: 20px;
    margin-right: 10px;
}


.navbar-tool i {
    color: #3699ff;
    font-size: 24px;
}

.btn-wishlist {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

#dropdownCart {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

#dropdownCart::after {
    display: none;
}

.btn-wishlist:hover, #dropdownCart:hover {
    background: #34344e;
}

.dropdown-cart-menu {
    right: 0;
    left: unset;
    top: 45px;
    width: 360px;
    box-shadow: 0 3px 1px -2px #00000033, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f;
    border-radius: 3px;
    color: rgba(0,0,0,.87);
}

.cart-body {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    color: #333;
    padding: 16px;

}

.cart-footer {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 8px;

}

.cart-sum-text, .cart-sum-number {
    padding: 12px;
    font-size: 15px;
}

.cart-sum-number {
    color: #00509d;
}

.cart-btn {
    margin: 0 12px;
    height: 36px;
    background-color: #ec4c4d;
    color: white;
    box-shadow: 0 3px 1px -2px #00000033, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f;
    border-radius: 4px;
}

.cart-btn a {
    width: 100%;
    text-align: center;
}

.cart-btn:hover {
    background-color: #e72728;
}

.cart-btn span {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .0892857143em;

}

.cart-divine {
    margin: 0 16px;
    border: solid;
    border-width: thin 0 0 0;
    border-color: rgba(0,0,0,.12);

}

.cart-img {
    border-radius: 5px;
    overflow: hidden;
    height: 63.5px;
    width: 97.328px;
}

.cart-body {
    gap: 12px;
    max-height: 315px;
    overflow-y: scroll;
}

.cart-body::-webkit-scrollbar { width: 10px;}
.cart-body::-webkit-scrollbar-track {     background: #ffffff;}
.cart-body::-webkit-scrollbar-thumb {  background-color: #8e99a4; border-radius: 10px; border: 3px solid #ffffff;}

.cart-item-main {
    flex: 1;
}
.cart-item {
    gap: 16px;
    padding-bottom: 5px;
}
.cart-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-item-name {
    color: #333;
    font-size: 15px;
    font-weight: 700;
    padding-right: 15px;
}

.cart-item-price {
    font-weight: 400;
    font-size: 15px;
    color: #333;

}

.btn-qlt {
    height: 22px;
}

.btn-qlt input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.btn-qlt input[type=number]::-webkit-inner-spin-button,
.btn-qlt input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}


.btn-qlt a {
    display: flex;
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    cursor: pointer;
    margin: 0;
    position: relative;
    box-shadow: none;
    border: 1px solid #d9d9d9;
}

.btn-qlt a:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.btn-qlt a:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.btn-qlt input[type=number] {
    width: 25px;
    text-align: center;
    font-weight: 400;
    color: #333;
    font-size: 15px;
    height: 22px;
    border: 1px solid #d9d9d9;
    border-right: 0;
    border-left: 0;
    background: transparent;
    outline: none;
    box-shadow: none;
}

.cart-item-sum {
    font-weight: 700;
    color: #333;
    font-size: 15px;
}

.navbar-user {
    color: white;
    margin-left: 30px;
}

#dropdownUser::after {
    color: white;
}

.dropdown-user-menu {
    width: 200px;
    left: unset;
    right: -12px;
    top: 30px;
}



.dropdown-user-menu  .user-menu-item {
    height: 48px;
    padding: 0 8px;
}
.dropdown-user-menu  .user-menu-item:hover {
    background-color: #f6f6f6;
}

.dropdown-user-menu  .user-menu-item i {
    color: rgba(0,0,0,.54);
    margin-right: 12px;
    font-size: 18px;
    width: 13.5px;
}

.dropdown-user-menu .user-menu-item span {
    color: rgba(0,0,0,.87);
    font-size: 16px;
    font-weight: 300;

}

.cart-delete-btn {
    position: absolute;
    top: -2px;
    right: 0;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    color: rgba(0,0,0,.87);
    background: transparent;
    border: none;
    cursor: pointer;
}

.cart-delete-btn i {
    font-size: 14px;
    color: rgba(0,0,0,.87);
}

.cart-delete-btn:hover {
    background: #eeeeee;
}

.nav-badge {
    z-index: auto;
    min-width: 20px;
    height: 20px;
    padding: 0 6px;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    text-align: center;
    background: #ff4d4f;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #fff;
    position: absolute;
    top: 13px;
    right: 7px;
    transform: translate(50%,-50%);
    transform-origin: 100% 0%;
}

.pulse-ring {
    display: block;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    position: absolute;
    -webkit-animation: animation-pulse 3.5s ease-out;
    animation: animation-pulse 3.5s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0;
    border-width: 3px;
    border-style: solid;
    border-color: #e4e6ef;
}

@keyframes animation-pulse {
    0% {
        -webkit-transform: scale(.1,.1);
        opacity: 0
    }

    60% {
        -webkit-transform: scale(.1,.1);
        opacity: 0
    }

    65% {
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1.2,1.2);
        opacity: 0
    }
}
