<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Home - Shopwise Website', 'none')" />
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
    <link
        rel="stylesheet"
        href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />
</head>
<body>
    <div th:replace="fragments/navbar_fragment :: navbar"></div>
    <div class="main-content">
        <div class="gallery d-flex align-items-start justify-content-center">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="gallery-item position-relative">
                            <img th:src="@{/images/banner1.jpg}" />
                            <div class="gallery-item-content">
                                <p class="gallery-item-title">Google Technology</p>
                                <div class="gallery-item-wrapper d-flex">
                                    <div class="gallery-item-divine"></div>
                                    <p class="gallery-item-subtitle">LATEST BEST DEVICE</p>
                                </div>
                                <p class="gallery-item-description">The brand comes from the google home collection 2020</p>
                                <button class="gallery-item-btn">Explore</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery-item position-relative">
                            <img th:src="@{/images/banner2.jpg}" />
                            <div class="gallery-item-content">
                                <p class="gallery-item-title">Google Mouse</p>
                                <div class="gallery-item-wrapper d-flex">
                                    <div class="gallery-item-divine"></div>
                                    <p class="gallery-item-subtitle">NEW SMART DEVICE</p>
                                </div>
                                <p class="gallery-item-description">The brand comes from the google home collection 2020</p>
                                <button class="gallery-item-btn">Explore</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery-item position-relative">
                            <img th:src="@{/images/banner3.jpg}" />
                            <div class="gallery-item-content">
                                <p class="gallery-item-title">Google Smart TV</p>
                                <div class="gallery-item-wrapper d-flex">
                                    <div class="gallery-item-divine"></div>
                                    <p class="gallery-item-subtitle">NEW SMART QLED TV</p>
                                </div>
                                <p class="gallery-item-description">The brand comes from the google home collection 2020</p>
                                <button class="gallery-item-btn">Explore</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="sub-gallery d-flex flex-column">
                <div>
                    <img th:src="@{images/subbanner1.jpg}"/>
                </div>
                <div>
                    <img th:src="@{images/subbanner2.jpg}"/>
                </div>
            </div>

        </div>
        <div class="section-policy">
            <div class="section-policy-item text-center">
                <img th:src="@{/images/car.png}"/>
                <div class="section-policy-title">GIAO HÀNG TOÀN QUỐC</div>
                <div class="section-policy-description">Vận chuyển khắp Việt Nam</div>
            </div>
            <div class="section-policy-item text-center">
                <img th:src="@{/images/money.png}"/>
                <div class="section-policy-title">THANH TOÁN KHI NHẬN HÀNG</div>
                <div class="section-policy-description">Nhận hàng tại nhà rồi thanh toán</div>
            </div>
            <div class="section-policy-item text-center">
                <img th:src="@{/images/tool.png}"/>
                <div class="section-policy-title">BẢO HÀNH DÀI HẠN</div>
                <div class="section-policy-description">Bảo hành lên đến 60 ngày</div>
            </div>
            <div class="section-policy-item text-center">
                <img th:src="@{/images/refund.png}"/>
                <div class="section-policy-title">ĐỔI HÀNG DỄ DÀNG</div>
                <div class="section-policy-description">Đổi hàng thoải mái trong 30 ngày</div>
            </div>
        </div>

        <div th:replace="fragments/listProducts_fragment::listProduct('SẢN PHẨM MỚI NHẤT', ${listLatestProducts})"></div>
    </div>
    <div th:replace="fragments/footer_fragment :: footer"></div>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/index.js}" ></script>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script th:inline="javascript">
    $(document).ready(function() {
        let messageError = [[${messageError}]];
        let messageSuccess = [[${messageSuccess}]];

        if(messageSuccess) {
            swal(
                '',
                messageSuccess,
                'success'
            )
        }
        if(messageError ) {
            swal(
                '',
                messageError,
                'error'
            )
        }
    })
</script>
<script>
    const swiper = new Swiper('.swiper', {
        loop: true,
        speed: 1200,
        slidesPerView: 1,
        pagination: {
            el: '.swiper-pagination',
            clickable: true
        },
        autoplay: {
            delay: 5000,
            disableOnInteraction: false,
        }

    });

    function detectClick(){
        return false; // add this line
    }
</script>
</body>

</html>