<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Home - Shopwise Website', 'none')" />
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}"/>

</head>
<body>
    <div th:replace="fragments/navbar_fragment :: navbar"></div>
    <div class="main-content">
        <div class="profile-main">
            <div class="profile-header d-flex align-items-center">
                <div class="profile-author d-flex align-items-center">
                    <div class="profile-author-img"><img th:src="@{/images/car.png}"/></div>
                    <div class="profile-author-content d-flex flex-column flex-wrap">
                        <div class="profile-author-name">Đốm Phạm</div>
                        <div class="profile-author-phone">0901238123</div>
                    </div>
                </div>
                <div class="profile-title">Thông tin tài khoản</div>
            </div>
            <div class="profile-content d-flex">
                <div class="profile-tab d-flex flex-column">
                    <button class="profile-tabs-button tab-active d-flex align-items-center" onclick="openTabs(event,'form-user-info')">
                        <div class="profile-icon-wrapper d-flex align-items-center justify-content-center">
                            <i class="far fa-user"></i>
                        </div>
                        <span>Thông tin tài khoản</span>
                    </button>
                    <button class="profile-tabs-button d-flex align-items-center" onclick="openTabs(event,'form-change-password')">
                        <div class="profile-icon-wrapper d-flex align-items-center justify-content-center">
                            <i class="fas fa-lock"></i>
                        </div>
                        <span>Đổi mật khẩu</span>
                    </button>
                    <button class="profile-tabs-button d-flex align-items-center" onclick="openTabs(event,'form-order-info')">
                        <div class="profile-icon-wrapper d-flex align-items-center justify-content-center">
                            <i class="far fa-clipboard"></i>
                        </div>
                        <span>Danh sách đơn hàng</span>
                    </button>
                </div>
                <div class="profile-content-body">
                    <div id="form-user-info" class="profile-tab-item">
                        <div class="d-flex align-items-center user-info-field">
                            <div class="font-weight-bold user-info-title">Họ và tên</div>
                            <div class="user-info-item">Đốm Phạm</div>
                        </div>
                        <div class="d-flex align-items-center user-info-field">
                            <div class="font-weight-bold user-info-title">Số điện thoại</div>
                            <div class="user-info-item">0388820835</div>
                        </div>
                        <div class="d-flex align-items-center user-info-field">
                            <div class="font-weight-bold user-info-title">Ngày sinh</div>
                            <div class="user-info-item">30/07/2001</div>
                        </div>
                        <div class="d-flex align-items-center user-info-field">
                            <div class="font-weight-bold user-info-title">Email</div>
                            <div class="user-info-item">dompham@gmail.com</div>
                        </div>
                        <div class="d-flex align-items-center user-info-field mt-4">
                            <div class="font-weight-bold user-info-title"></div>
                            <div class="user-info-item">
                                <button class="profile-form-btn profile-tabs-button" onclick="openTabs(event,'form-change-user-info')">Thay đổi thông tin</button>
                            </div>
                        </div>
                    </div>
                    <div id="form-change-password" class="profile-tab-item" style="display: none">
                        <form>
                            <div class="d-flex align-items-center user-info-field">
                                <div class="font-weight-bold user-info-title">Email</div>
                                <div class="user-info-item">
                                    <input type="email" class="form-control" id="email" value="dompham@gmail.com" required readonly/>
                                </div>
                            </div>
                            <div class="d-flex align-items-center user-info-field">
                                <div class="font-weight-bold user-info-title">Mật khẩu cũ</div>
                                <div class="user-info-item">
                                    <input type="password" class="form-control" id="old-pass" required/>
                                </div>
                            </div>
                            <div class="d-flex align-items-center user-info-field">
                                <div class="font-weight-bold user-info-title">Mật khẩu mới</div>
                                <div class="user-info-item">
                                    <input type="password" class="form-control" id="new-pass" required/>
                                </div>
                            </div>
                            <div class="d-flex align-items-center user-info-field">
                                <div class="font-weight-bold user-info-title">Xác nhận mật khẩu</div>
                                <div class="user-info-item">
                                    <input type="password" class="form-control" id="conf-new-pass" required/>
                                </div>
                            </div>
                            <div class="d-flex align-items-center user-info-field mt-4">
                                <div class="font-weight-bold user-info-title"></div>
                                <div class="user-info-item">
                                    <button class="profile-form-btn">Cập nhật</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="form-order-info" class="profile-tab-item" style="display: none">

                    </div>
                    <div id="form-change-user-info" class="profile-tab-item" style="display: none">
                        <form>
                            <div class="d-flex align-items-center user-info-field">
                                <div class="font-weight-bold user-info-title">Email</div>
                                <div class="user-info-item">
                                    <input type="email" class="form-control" id="email1" value="dompham@gmail.com" required readonly/>
                                </div>
                            </div>
                            <div class="d-flex align-items-center user-info-field">
                                <div class="font-weight-bold user-info-title">Họ nguời dùng</div>
                                <div class="user-info-item">
                                    <input type="text" class="form-control" id="ho" required/>
                                </div>
                            </div>
                            <div class="d-flex align-items-center user-info-field">
                                <div class="font-weight-bold user-info-title">Tên người dùng</div>
                                <div class="user-info-item">
                                    <input type="text" class="form-control" id="ten" required/>
                                </div>
                            </div>
                            <div class="d-flex align-items-center user-info-field">
                                <div class="font-weight-bold user-info-title">Số điện thoại</div>
                                <div class="user-info-item">
                                    <input type="text" class="form-control" id="phone" required/>
                                </div>
                            </div>
                            <div class="d-flex align-items-center user-info-field">
                                <div class="font-weight-bold user-info-title">Ngày sinh</div>
                                <div class="user-info-item">
                                    <input type="text" class="form-control" id="data" required/>
                                </div>
                            </div>
                            <div class="d-flex align-items-center user-info-field mt-4">
                                <div class="font-weight-bold user-info-title"></div>
                                <div class="user-info-item">
                                    <button class="profile-form-btn">Cập nhật</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer_fragment :: footer"></div>
</body>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script>

    function openTabs(evt,tabName) {
        let i;
        let tabItem;
        let x = document.getElementsByClassName("profile-tab-item");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tabItem = document.getElementsByClassName("profile-tabs-button");
        for (i = 0; i < x.length; i++) {
            tabItem[i].className = tabItem[i].className.replace(" tab-active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " tab-active";
        if(tabName === "form-change-user-info") {
            tabItem[0].className += " tab-active";
        }

    }
</script>

</html>