<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Home - Shopwise Website', 'none')" />
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/order-completed.css}"/>

</head>
<body>
<div th:replace="fragments/navbar_fragment :: navbar"></div>
<div class="main-content">
    <th:block sec:authorize="isAuthenticated()" >
        <div class="order-completed d-flex justify-content-center align-items-center" >
            <div class="order-completed-container">
                <div class="swal-icon swal-icon--success">
                    <span class="swal-icon--success__line swal-icon--success__line--long"></span>
                    <span class="swal-icon--success__line swal-icon--success__line--tip"></span>
                    <div class="swal-icon--success__ring"></div>
                    <div class="swal-icon--success__hide-corners"></div>
                </div>
                <div class="order-name" th:text="'Hey ' + ${#authentication.getPrincipal().getFullName()} + ','">Hey Dom Pham,</div>
                <div class="order-text">Your Order has been Completed!</div>
                <div class="order-desc">We'll send you a email as soon as your order.</div>
                <div class="d-flex align-items-center justify-content-center">
                    <a href="/profile/order/info" class="checkout-btn-submit">Check Status</a>
                </div>
            </div>
        </div>
    </th:block>
</div>

<div th:replace="fragments/footer_fragment :: footer"></div>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/index.js}" ></script>

</body>

</html>