<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Home - Shopwise Website', 'none')" />
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/checkout.css}"/>

</head>
<body>
    <div th:replace="fragments/navbar_fragment :: navbar"></div>
    <div class="main-content">
        <th:block th:if="${listCarts != null and !listCarts.empty}">
            <form th:action="@{'/checkout'}" th:object="${address}" method="post" id="form-checkout" >
                <div id="checkout-main" class="d-flex checkout-main">
                <div class="checkout-info">
                    <div class="checkout-info-address">
                        <div class="checkout-title" style="font-size: 1.5rem">Vui lòng điền đầy đủ thông tin bên dưới hoặc chọn địa chỉ đã lưu.</div>
                        <div class="checkout-tabs-header d-flex align-items-center" style="margin-bottom: 20px">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" value="new-address" name="radio-tab" id="customControlValidation2" checked="true"  onclick="openTabs(event,'tab-newaddress')">
                                <label class="custom-control-label" for="customControlValidation2">Địa chỉ giao hàng mới</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" value="old-address" name="radio-tab" id="customControlValidation3" onclick="openTabs(event,'tab-oldaddress')" >
                                <label class="custom-control-label" for="customControlValidation3">Địa chỉ giao hàng đã lưu</label>
                            </div>
                        </div>
                        <div id="tab-newaddress" class="tab-item">
                            <div class="checkout-info-main">
                                <div class="checkout-title">Thông tin người nhận hàng</div>
                                <div class="checkout-form">
                                    <div class="mb-4 d-flex justify-content-center align-items-center" style="gap: 24px">
                                        <div style="width: 100%">
                                            <label class="form-label" for="ho">Họ người nhận</label>
                                            <input type="text" class="form-control checkout-input" name="firstName" id="ho" placeholder="Họ" required>
                                            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"  class="form-valid-feedback"></span>
                                        </div>
                                        <div style="width: 100%">
                                            <label class="form-label" for="ten">Tên người nhận</label>
                                            <input type="text" class="form-control checkout-input" name="lastName" id="ten" placeholder="Tên" required>
                                            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"  class="form-valid-feedback"></span>
                                        </div>

                                    </div>
                                    <div class="mb-4 d-flex justify-content-center align-items-center" style="gap: 24px">
                                        <div style="width: 100%">
                                            <label class="form-label" for="email">Email</label>
                                            <input type="email" class="form-control checkout-input" name="email" id="email" placeholder="Email" required>
                                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"  class="form-valid-feedback"></span>

                                        </div>
                                        <div style="width: 100%">
                                            <label class="form-label" for="phone">Số điện thoại</label>
                                            <input type="text" class="form-control checkout-input" name="phone" id="phone" placeholder="Số điện thoại" required>
                                            <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"  class="form-valid-feedback"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout-address-main">
                                <div class="checkout-title">Thông tin địa chỉ</div>
                                <div class="checkout-form">
                                    <div class="mb-4 d-flex justify-content-center align-items-center" style="gap: 24px">
                                        <div style="width: 100%">
                                            <select class="custom-select checkout-select" required id="province">
                                                <option value="" selected disabled>Chọn tỉnh/thành phố</option>
                                                <option th:each="province : ${listProvinces}" th:value="${province.code}" th:text="${province.fullName}">

                                                </option>
                                            </select>
                                        </div>
                                        <div style="width: 100%">
                                            <select class="custom-select checkout-select" required id="district">
                                                <option value="" selected disabled>Chọn quận/huyện</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-4 d-flex justify-content-center align-items-center" style="gap: 24px">
                                        <div style="width: 100%">
                                            <select class="custom-select checkout-select" name="ward" required id="ward">
                                                <option value="" selected disabled>Chọn phường/xã</option>
                                            </select>
                                        </div>
                                        <div style="width: 100%">
                                            <input type="text" class="form-control checkout-input" id="specificAddress" name="specificAddress" placeholder="Số nhà, ngõ, tên đường..." required/>
                                            <span th:if="${#fields.hasErrors('specificAddress')}" th:errors="*{specificAddress}"  class="form-valid-feedback"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div id="tab-oldaddress" class="tab-item" style="display: none">
                            <div th:class="'align-items-center justify-content-center flex-column '+ ${listAddresses == null or listAddresses.empty ? 'd-flex' : 'd-none'}" style="border-top: 1px solid #4a4a4a; margin-top: 30px; padding-top: 20px" >
                                <div class="d-flex align-items-center justify-content-center" style="width: 6.75rem; height: 6.125rem;">
                                    <img th:src="@{/images/empty-cart.png}" style="width: 100%; height: 100%"/>
                                </div>
                                <div class="text-center mt-4" style="color: white; margin-top: 18px">Hiện tại bạn chưa lưu địa chỉ nào</div>
                                <a href="/profile/address/add" class="profile-form-btn text-center d-flex align-items-center" style="margin-top: 17px; color: white!important;">Thêm ngay</a>
                            </div>
                            <th:block th:if="${listAddresses != null and !listAddresses.empty}">
                                <div class="checkout-title">Địa Chỉ Nhận Hàng</div>
                                <div class="old-address-list">
                                    <th:block th:if="${listAddresses != null and !listAddresses.empty}" th:each="address : ${listAddresses}">
                                        <div role="radiogroup" class="checkout-payment-main">
                                            <div class="custom-control custom-radio radio-payment-control">
                                                <input type="radio" class="custom-control-input radio-payment" th:value="${address.id}" name="radio-address" th:id="'radio-address-' + ${address.id}" th:checked="${address.isDefault ? 'true' : 'false'}"   >
                                                <label class="custom-control-label d-flex align-items-center" th:for="'radio-address-' + ${address.id}">
                                                    <div class="old-address-item d-flex justify-content-between">
                                                        <div class="old-address-item-content">
                                                            <div class="d-flex flex-column">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="old-address-item-name" th:text="${address.firstName + ' ' + address.lastName + ' (+84) ' + address.phone}"></div>
                                                                    <th:block th:if="${address.isDefault}">
                                                                        <span class="badge badge-success">Mặc Định</span>
                                                                    </th:block>
                                                                </div>
                                                                <div style="margin-top: 10px"
                                                                     th:text="${address.specificAddress} + ', ' + ${address.ward.fullName} + ', '
                                                                + ${address.ward.district.fullName} + ', ' + ${address.ward.district.province.fullName}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </th:block>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <div class="checkout-info-payment">
                        <div class="checkout-title">Hình thức thanh toán</div>
                        <div role="radiogroup" class="checkout-payment-main">
                            <div class="custom-control custom-radio radio-payment-control">
                                <input type="radio" class="custom-control-input radio-payment" name="radio-payment" id="radio-1" checked="true" >
                                <label class="custom-control-label d-flex align-items-center" for="radio-1">
                                    <div class="checkout-payment-img"><img th:src="@{/images/cod.png}"/></div>

                                    <span>Thanh toán khi nhận hàng</span>
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex justify-content-center align-items-center" style="padding: 16px; padding-bottom: 32px">
                        <button type="submit" class="checkout-btn-submit">Đặt hàng</button>
                    </div>
                </div>
                <div class="checkout-cart">
                    <div class="checkout-title">Thông tin giỏ hàng</div>
                    <div class="d-flex flex-column">
                        <div class="cart-body d-flex flex-column checkout-cart-body">
                            <th:block th:if="${listCarts != null and !listCarts.empty}" th:each="cart : ${listCarts}">
                                <div th:class="'cart-item d-flex position-relative cartitem' + ${cart.products.id}">
                                    <div class="cart-img">
                                        <img th:src="${cart.products.image}"/>
                                    </div>
                                    <div class="cart-item-main">
                                        <div class="cart-item-name" th:text="${cart.products.name}"></div>
                                        <div class="cart-item-price d-flex align-items-center">
                                            <div th:replace="fragments :: format_currency(${cart.products.getDiscountPrice()})"></div>
                                            <span th:class="'price-quantity'+${cart.products.id}" th:text="'đ x ' + ${cart.quantity}"></span>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-qlt d-flex">
                                                <a th:href="'/cart/update/' + ${cart.products.id} + '/' + ${cart.quantity - 1}"> - </a>
                                                <input readonly type="number" min="1"  th:class="'detail-summary-qlt quantity' + ${cart.products.id}" th:value="${cart.quantity}" th:max="${cart.products.inStock}"/>
                                                <a class="plus" th:href="'/cart/update/' + ${cart.products.id} + '/' + ${cart.quantity + 1}"> + </a>
                                            </div>
                                            <div class="cart-item-sum d-flex align-items-center" >
                                                <div th:class="'subtotal' + ${cart.products.id}">[[${#numbers.formatDecimal(cart.subtotal, 0, 'COMMA', 0, 'POINT')}]]</div>
                                                <span>đ</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-delete-btn d-flex align-items-center justify-content-center" th:onclick="'btnDeleteCartItem(event,' + ${cart.products.id} + ')'"><i class="far fa-trash-alt"></i></div>
                                </div>
                            </th:block>
                        </div>
                        <div class="cart-divine"></div>
                        <div class="cart-footer d-flex flex-column align-items-stretch">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="cart-sum-text">
                                    <strong>Tổng cộng:</strong>
                                </div>
                                <div class="cart-sum-number text-right font-weight-bold d-flex align-items-center">
                                    <div class="cart-estimatedTotal">[[${#numbers.formatDecimal(estimatedTotal, 0, 'COMMA', 0, 'POINT')}]]</div>
                                    <span>đ</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="cart-sum-text">
                                    <strong>Giảm giá:</strong>
                                </div>
                                <div class="cart-sum-number text-right">
                                    <strong>0</strong>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center" style="margin-top: 12px">
                                <div class="cart-sum-text-main">
                                    <strong>Tổng:</strong>
                                </div>
                                <div class="cart-sum-number-main text-right d-flex align-items-center">
                                    <strong>[[${#numbers.formatDecimal(estimatedTotal, 0, 'COMMA', 0, 'POINT')}]]</strong>
                                    <span>đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
            </form>
        </th:block>
        <div th:class="'align-items-center justify-content-center flex-column ' + ${listCarts == null or listCarts.empty ? 'd-flex' : 'd-none'}" id="checkout-empty" >
            <div class="d-flex align-items-center justify-content-center" style="width: 6.75rem; height: 6.125rem;">
                <img th:src="@{/images/empty-cart.png}" style="width: 100%; height: 100%"/>
            </div>
            <div class="text-center mt-4" style="color: white; margin-top: 18px">Giỏ hàng của bạn còn trống</div>
            <a href="/" class="checkout-btn-submit text-center d-flex align-items-center" style="margin-top: 17px; color: white!important;">Mua Ngay</a>
        </div>

    </div>

    <div th:replace="fragments/footer_fragment :: footer"></div>

    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/index.js}" ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.4/dist/sweetalert2.all.min.js"></script>

    <script th:inline="javascript">
        $(document).ready(function() {
            let listDistricts = [[${listDistricts}]]
            let listWards = [[${listWards}]]
            let dropdownProvinces = $("#province");
            let dropdownDistricts = $("#district");

            dropdownProvinces.on("change", function() {
                let selectedProvice = $("#province option:selected");
                let provinceCode = selectedProvice.val();
                let dropdownDistrict = $("#district");
                let dropdownWard = $("#ward");

                dropdownWard.empty();
                $("<option>").val("").text("Chọn phường/xã").attr("disabled", "disabled").attr("selected","selected").appendTo(dropdownWard);

                dropdownDistrict.empty();
                $("<option>").val("").text("Chọn quận/huyện").attr("disabled", "disabled").attr("selected","selected").appendTo(dropdownDistrict);

                let listDistrictsFilter = listDistricts.filter(e => e.province.code === provinceCode)
                listDistrictsFilter.forEach(district =>  {
                    $("<option>").val(district.code).text(district.fullName).appendTo(dropdownDistrict);
                })
            });

            dropdownDistricts.on("change", function() {
                let selectedDistrict = $("#district option:selected");
                let districtCode = selectedDistrict.val();
                let dropdownWard = $("#ward");

                dropdownWard.empty();
                $("<option>").val("").text("Chọn phường/xã").attr("disabled", "disabled").attr("selected","selected").appendTo(dropdownWard);

                let listWardsFilter = listWards.filter(e => e.district.code === districtCode)
                listWardsFilter.forEach(ward =>  {
                    $("<option>").val(ward.code).text(ward.fullName).appendTo(dropdownWard);
                })

            })

            let messageError = [[${messageError}]];
            let messageSuccess = [[${messageSuccess}]];

            if(messageSuccess) {
                Swal.fire({
                    title: '',
                    text: messageSuccess,
                    icon: 'success',
                    confirmButtonColor: '#3085d6'
                })
            }
            if(messageError ) {
                Swal.fire({
                    title: '',
                    text: messageError,
                    icon: 'error',
                })
            }


        });
    </script>
    <script>

        function openTabs(evt,tabName) {
            let i;

            let x = document.getElementsByClassName("tab-item");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }

            document.getElementById(tabName).style.display = "block";
            if(tabName === 'tab-oldaddress') {
                $("#tabOldAddress :input").prop("disabled", false);
                $("#tab-newaddress :input").prop("disabled", true);

            }
            else if(tabName === 'tab-newaddress') {
                $("#tabOldAddress :input").prop("disabled", true);
                $("#tab-newaddress :input").prop("disabled", false);
            }

        }

    </script>
</body>

</html>